<h1 class="title">Webnuggets</h1>

@if (shouldDisplayDescription) {
  <p>
    This is a personal microblogging website where you will find links to books,
    videos, articles, and more that I find interesting. All content is related
    to the web.
  </p>
}

<picture>
  <source media="(max-width: 700px)" srcset="./assets/title-small.svg" />
  <source media="(min-width: 699px)" srcset="./assets/title.svg" />
  <img
    src="./assets/title-small.svg"
    alt="Chris standing up holding his daughter Elva"
  />
</picture>
