@use "../../variables" as *;

$searchWidth: min(256px, 90vw);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;
}

label,
.search,
input {
  width: $searchWidth;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    position: absolute;
    padding: 0.8rem;
  }
}

.screen-reader {
  display: none;
}

.nuggets {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, $cardSize);
  justify-content: center;
  max-width: 1920px;
  width: 100%;
}

input[type="search"] {
  padding-left: 2.5rem;
  padding-right: 1rem;
  border-width: $basicBorder;
  border-color: black;
  border-radius: 100rem;
  height: 3rem;
  font-size: 1rem;
}

.nothing-found {
  text-align: center;
  font-size: 2rem;
}
