@use "./variables" as *;

@mixin cardBasis {
  background-color: white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  @include cardBorder;
}

@mixin cardBorder {
  border-width: $basicBorder;
  border-radius: 0.75rem;
  border-color: black;
  border: solid;
}

@mixin topics {
  .topics {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow: auto;
  }
}
