@use "./variables" as *;
@import "material-icons/iconfont/material-icons.css";

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(255, 244, 220);
}

// TODO maybe add to shared
.buttonLook {
  background-color: orange;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border-radius: 1rem;
  border-width: $basicBorder;
  border: solid;
  border-color: black;
  font-weight: bold;
  color: black;
  display: inline-block;
}
.buttonLook:focus,
.buttonLook:hover {
  text-decoration: underline;
  text-decoration-thickness: $basicBorder;
  cursor: pointer;
}

h1 {
  margin: 0;
}
