@use "../../variables" as *;
@use "../../card" as *;

@mixin flex() {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container {
  @include flex;
  flex-direction: column;
  width: 100%;
}
.outer-card {
  width: 100%;
}

.actions {
  @include flex;
}

.inner-card {
  @include cardBasis;
  max-width: 40rem;
  margin: 1rem;
}

.buttonLook {
  background-color: $background;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

@include topics();
